// _base.scss
@import "utilities/variables";

body {
  margin: 0;
  // font things
  font-family: $font-stack;
  color: $font-color;
  overflow-y: hidden;
  h3 {
    font-style: italic;
  }
}

ul {
  list-style: none;
  padding: 0;
  a {
    text-decoration: none;
  }
}

video {
  max-width: 100%;
  height: auto;
}

a:link {
  color: $font-color;
  font-style: italic;
  font-weight: bolder;
}

a:visited {
  color: $link-visited-color;
}

a:hover {
  color: $link-hover;
}
