// _base.scss
@import "utilities/variables";

body {
  margin: 0;
  // font things
  font-family: $font-stack;
  color: $font-color;
  overflow-y: hidden;
}

ul {
  list-style: none;
  padding: 0;
  a {
    text-decoration: none;
  }
}

video {
  max-width: 100%;
  height: auto;
}
