// main.scss
@import "base";

@import "utilities/variables";

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 50vw 50vw;
}

%adjustcenter {
  transform: translateY(-100%);
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

#left {
  // grid set-up for left side
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;

  // bg color
  background-color: $bg-color;
}

#left {
  header {
    z-index: 2;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  #leftContent {
    // adjust position to take up whole left side
    position: relative;
    top: -10vh;
    height: 100vh;
    // make it flexy
    display: flex;
    justify-content: center;
    align-items: center;
    #homeContent {
      hgroup {
        display: inherit;
      }
    }
    #workContentLeft {
      width: 75%;
      div {
        //display: inherit;
        flex-direction: column;
        justify-content: center;

      }
    }
    #skillsContentLeft {
      p {
        display: inherit;
      }
    }
  }
}

#right {
  background-color: $bg-color-right;

  overflow-y: scroll;
}

#about {
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    display: inherit;
    width: 75%;
    //justify-content: center;
    //align-items: center;
    margin: 0;
    padding-bottom: 2%;
  }

}

#workContentRight {
  flex-direction: column;
  align-items: center;
  p {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  div {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    iframe {
      padding-bottom: 2%;
    }
  }
}

#skillsContentRight {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  div {
    width: 75%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
  }
}
