// utilities/_variables.scss
$bg-color: #e5aebc;
$bg-color-right: #f4ebbe;
$font-color: #0f4880;
$link-visited-color: #230007;
$link-color: #270722;
$link-hover: #5d2e46;

$font-stack: 'Lucida Grande', sans-serif;
